<h1>About The Community Giving Campaign</h1>

<p class='about_us'>
	<strong><a href="https://www.gtcuw.org/">United Way</a></strong> is a leader in identifying community concerns and partners with area
businesses, governments, and nonprofits to bring people and resources together to make
the most impact and improve people's lives with programs such as food shelves, help for
people with cancer, strokes and AIDS, as well as funding the FIRST CALL FOR HELP phone
line.
</p>

<p class='about_us'>
	<strong><a href="http://healthcharitiesmn.org/">Community Health Charities Minnesota</a></strong> is an alliance of leading nonprofit health research
and service organizations whose mission is to improve lives affected by chronic illness by
investing in health research, services, and education.
</p>

<p class='about_us'>
	<strong><a href="https://community.elca.org/fundforleaders">The Portico Benefit Services Seminary Scholarship Endowment Fund</a></strong> From first call
through retirement and end-of-life care, Portico has the privilege of serving its members for
life. The Portico Benefit Services Seminary Scholarship Endowment Fund was established
by the Board of Trustees in 2013 to extend Portico’s commitment to the lifelong financial
well-being of its members by providing vital tuition support to future leaders of the ELCA
even before they become plan members. This scholarship will help alleviate the significant
debt-load incurred by seminarians, who often have few financial resources to meet the costs
associated with their educations. Funded with an initial cash gift from the Board of Trustees
and Portico staff, this endowment will continue to grow through voluntary contributions and
make distributions to seminary students through the ELCA’s Fund for Leaders.
</p>
</br>
<p class='about_us'>For answers to your questions, please refer to our <strong><a href="#/faq">frequently asked questions</a></strong> section.</p>