<h1>Frequently Asked Questions</h1>

<ul class="faq">
	<li>How do I register?</li>
	<p>You can register by going to the <a href="#/register">registration</a> page. You will need to enter in
		the name portion of your email address, and create a password. Once the registration form has been submitted
		there will be a confirmation email sent to you. Complete the registration by following the link in the email.</p>

	<li>Are there password requirements?</li>
	<p>There are no password requirements other than having one.</p>

	<li>What do I do if I can't remember my password?</li>
	<p>Please contact <a href="mailto:kpommrehn@porticobenefits.org">Kaitlyn Pommrehn</a> for assistance.</p>

	<li>How do I know if I have won an item?</li>
	<p>You will receive an email if you have won an item. If you feel like you won but didn't receive an email please contact
		<a href="mailto:kpommrehn@porticobenefits.org">Kaitlyn Pommrehn</a> (please allow 5 minutes for emails to be generated).</p>

	<li>Why can I not see any items?</li>
	<p>You must be logged in to view the items on the site. Please make sure that you are currently logged in.</p>

	<li>Where do I pick up the items I have won?</li>
	<p>Items will be available at the front desk if you have one. If you have any questions please contact <a href="mailto:kpommrehn@porticobenefits.org">Kaitlyn Pommrehn</a>.</p>

	<li>What are the accepted payment methods?</li>
	<p>Cash is preferred, but checks are also accepted.</p>

	</br><p>If you have any additional questions that have not been covered here please contact <a href="mailto:kpommrehn@porticobenefits.org">Kaitlyn Pommrehn</a>.</p>
</ul>