<h1>all the Items</h1>

<div class='lot-container'>
	<div ng-repeat="item in items" class='lot-box' ng-click="gotoDetails(item._id)">
		<div class='title' ng-bind="item.Title"></div>
		<div ng-bind="item.Descripiton"></div>
		<img ng-src='images/{{item.imageName}}' alt='{{item.Title}} pic' />
        <div class="lot-details">
            <div ng-if="item.highBid == Null">
                <div>Minimum Bid: <span ng-bind="item.MinimumBid | currency"></span></div>
            </div>
            <div ng-if="item.highBid != Null">
                <div>High Bidder: <span ng-bind="item.highBidUserName"></span></div>
                <div>High Bid: <span ng-bind="item.highBid | currency"></span></div>
            </div>
            <div>Closes: <span ng-bind="item.EndDate | date: 'short'"></span></div>
        </div>
	</div>
</div>

<div style="clear: both;">
  <button  ng-click="addItem()">Add A Item</button>
</div>


