
<h2>
  {{item.Title}}
</h2>

<div>
  <img style="width: auto; height: 300px;" ng-src='images/{{item.imageName}}' alt='{{item.Title}} pic' />
</div>

<div>
  <span ng-bind="item.Description"></span>
</div>
<div>
  Donated By: <a target="_blank" ng-href="{{item.DonatedLink}}" ng-bind='item.DonatedBy' ></a>
</div>
<div>
  Current High Bid: <span ng-bind="item.HighBid | currency"></span>
</div>

<div>
  Bid: <input ng-model="newBidAmount" type="number">
  <button ng-click="makeBid()">Submit Bid</button>
</div>

<div ng-class="{error: !bidResponse.result}" ng-bind="bidResponse.message"></div>

