<a style="float: right;" href="/#/upcoming">back to upcoming items</a>
<h2>
  {{item.Title}}
</h2>

<div>
  <img style="width: auto; height: 300px;" ng-src='images/{{mainImage}}' alt='{{item.Title}} pic' />
</div>
<div>
  <div ng-repeat="image in item.images" style="display: inline-block; padding: 10px;">
    <img ng-mouseover="switchImage($index)" style="height: 60px;" ng-src="images/{{image}}">
  </div>
</div>

<div style="padding-bottom: 20px;">
  Donated By: <a target="_blank" ng-href="{{item.DonatedLink}}" ng-bind='item.DonatedBy' ></a>
</div>
<div>
  <span ng-bind="item.Description"></span>
</div>
