new item

<div ng-form name="itemForm">
	<div>
	  <div class='admin-item-detail-label'>
	    Title:
	  </div>
	  <div class='admin-item-detail'>
	    <input name='title' ng-model='item.Title' ng-required='true' >
      <span ng-show="itemForm.title.$error.required">*</span>
	  </div>
	</div>
	<div>
	  <div class='admin-item-detail-label'>
	    Description:
	  </div>
	  <div class='admin-item-detail'>
	    <input name='description' ng-model='item.Description' ng-required='true'>
      <span ng-show="itemForm.description.$error.required">*</span>
	  </div>
	</div>
	<div>
	  <div class='admin-item-detail-label'>
	    Start Date:
	  </div>
	  <div class='admin-item-detail'>
	    <input type="date" name='startDate' ng-model='item.StartDate' ng-required='true'>
      <span ng-show="itemForm.startDate.$error.required">*</span>
	  </div>
	</div>
	<div>
	  <div class='admin-item-detail-label'>
	    End Date:
	  </div>
	  <div class='admin-item-detail'>
	    <input type="date" name='endDate' ng-model='item.EndDate' ng-required='true'>
      <span ng-show="itemForm.endDate.$error.required">*</span>
	  </div>
	</div>
	<div>
	  <div class='admin-item-detail-label'>
	    Donated By:
	  </div>
	  <div class='admin-item-detail'>
	    <input name='donatedBy' ng-model='item.DonatedBy' ng-required='true'>
      <span ng-show="itemForm.donatedBy.$error.required">*</span>
	  </div>
	</div>
	<div>
	  <div class='admin-item-detail-label'>
	    Donated Link:
	  </div>
	  <div class='admin-item-detail'>
	    <input name='donatedLink' ng-model='item.DonatedLink' ng-required='true'>
      <span ng-show="itemForm.donatedLink.$error.required">*</span>
	  </div>
	</div>
	<div>
	  <button ng-disabled="!itemForm.$valid" ng-click='addItem()'>Add Item</button>
	</div>
	<div>
		{{message}}
	</div>
</div>

{{ item | json }}