<h4>Item Details</h4>

<div ng-show="item._id">
  <div class='admin-item-detail-label'>
    ID:
  </div>
  <div class='admin-item-detail' ng-bind="item._id"></div>
</div>
<div>
  <div class='admin-item-detail-label'>
    Title:
  </div>
  <div class='admin-item-detail'>
    <input name='title' ng-model='item.Title'>
  </div>
</div>
<div>
  <div class='admin-item-detail-label' style="vertical-align: top;">
    Description:
  </div>
  <div class='admin-item-detail'>
    <textarea name="description" ng-model="item.Description" style="width: 450px; height: 100px;"></textarea>
  </div>
</div>
<div>
  <div class='admin-item-detail-label'>
    Start Date:
  </div>
  <div class='admin-item-detail'>
    <input date-selects="" select-date="item.StartDate">
  </div>
</div>
<div>
  <div class='admin-item-detail-label'>
    End Date:
  </div>
  <div class='admin-item-detail'>
    <input date-selects="" select-date="item.EndDate">
  </div>
</div>
<div>
  <div class='admin-item-detail-label'>
    Donated By:
  </div>
  <div class='admin-item-detail'>
    <input name='donatedBy' ng-model='item.DonatedBy'>
  </div>
</div>
<div>
  <div class='admin-item-detail-label'>
    Donated Link:
  </div>
  <div class='admin-item-detail'>
    <input name='donatedLink' ng-model='item.DonatedLink'>
  </div>
</div>
<div>
  <div class='admin-item-detail-label'>
    Minimum Bid:
	</div>
	<div class='admin-item-detail'>
		<input name='minimumBid' ng-model='item.MinimumBid'>
	</div>
<div>
  <button ng-click='updateItem()'>Update Item</button>
</div>
<div ng-bind="message">

</div>

<hr>


<div ng-show="item._id" >

  <div>
    <h3>Existing Images</h3>
    <div ng-repeat="image in item.images" class="admin-item-image">
      <img style="width: 80px; height:80px;" ng-src="./images/{{image}}" alt="existing image">
      <a ng-click="removeImage($index)" title="remove image" class="image-remove">x</a>
    </div>
  </div>
  <div>
    <h3>Upload New Image</h3>
    <input type="file" name="file" onchange="angular.element(this).scope().uploadFile(this.files)"/>
    <div ng-bind="fileMessage">
    </div>
  </div>
</div>
