<h4>Item Details</h4>

<div>
  <div class='admin-item-detail-label'>
    ID:
  </div>
  <div class='admin-item-detail'>
    
    {{item.Id}}
  </div>
</div>
<div>
  <div class='admin-item-detail-label'>
    Title:
  </div>
  <div class='admin-item-detail'>
    <input name='title' ng-model='item.Title'>
  </div>
</div>
<div>
  <div class='admin-item-detail-label'>
    Description:
  </div>
  <div class='admin-item-detail'>
    <input name='description' ng-model='item.Description'>
  </div>
</div>
<div>
  <div class='admin-item-detail-label'>
    Start Date:
  </div>
  <div class='admin-item-detail'>
    <input type="date" name='startDate' ng-model='startDateString'>
  </div>
</div>
<div>
  <div class='admin-item-detail-label'>
    End Date:
  </div>
  <div class='admin-item-detail'>
    <input type="date" name='endDate' ng-model='item.EndDate'>
  </div>
</div>
<div>
  <div class='admin-item-detail-label'>
    Donated By:
  </div>
  <div class='admin-item-detail'>
    <input name='donatedBy' ng-model='item.DonatedBy'>
  </div>
</div>
<div>
  <div class='admin-item-detail-label'>
    Donated Link:
  </div>
  <div class='admin-item-detail'>
    <input name='donatedLink' ng-model='item.DonatedLink'>
  </div>
</div>
<div>
  <button ng-click='updateItem()'>Update Item</button>
</div>


